<?xml version="1.0"?>
<!--
/**
 * Copyright © Ecomteck LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.ecomteck.com | support@ecomteck.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ecomteck_editorderemail" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <label>Edit Order Email</label>
            <tab>ecomteck</tab>
            <resource>Ecomteck_EditOrderEmail::ecomteck_editorderemail</resource>
            <group id="about" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <attribute type="expanded">1</attribute>
                <label>Edit Order Email</label>
                <comment><![CDATA[
                    ]]></comment>
                <field id="composer_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>Ecomteck\EditOrderEmail\Block\Adminhtml\System\Config\Form\Composer\Version</frontend_model>
                </field>
            </group>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <field id="update_customer_email" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatically update customer record email address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
